
flask==2.3.3
ultralytics==8.0.196
torch==2.1.2
torchvision==0.16.2
pillow



# If torch doesn't auto-install on your platform, install a CPU build manually from:
# https://pytorch.org/get-started/locally/
